* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    padding: 3%;
}

.layout {
    background-color: #FFFAFB;
}



nav {
    border-bottom: 1px black solid;
    background-color: #4BBDC5;
}

.navTitle {
    display: inline-block;
}


.sidebar {
    border: 2px #0A014F solid;
    border-radius: 3%;
}



a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: black;
    color: aqua;
    }


.siteMenu {
    display: flex;
    justify-content: end;
    gap: 3%;
    padding-right: 3%;

}

main {
    border-bottom: 1px black solid;
}

.mainSection {
    display: flex;
    justify-content: space-between;
}


.footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}